/* You can add global styles to this file, and also import other style files */

// Import our complete SCSS architecture (includes custom Angular Material theme)
@import "styles/main";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
